ul {
    margin: 10px;
    background-color: cyan;
    padding: 10px;
    text-align: center;
    list-style: none;
}

li {
    margin: 30px;
    border-bottom: rgb(56, 37, 37) solid 2px;
    display: inline-block;
}

    

a {
    text-decoration: none;
    color: rgb(56, 37, 37);
    font-size: 20px;
    font-weight: 700;
    margin: 5px;
}
