code {
    margin: 10px;
    background-color: cyan;
    padding: 10px;
    text-align: center;
    color: rgb(56, 37, 37);
    display: block;
}

p {
    margin: 10px;
    background-color: rgb(154, 230, 230);
    padding: 10px;
    text-align: center;
    color: rgb(56, 37, 37);
    display: block;
}

#backbutton {
    text-decoration: none;
    padding: 10px;
    color: black;
}